/* Header related all styles */
/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
  background-color: #ece2e2;
 
}

/* N letter color */
.text-n{
    color: rgb(185, 84, 84);
}
/* B letter color */
.text-b{
    color: #db1f1fd7;
}
/* L letter color */
.text-l{
    color: rgb(248, 166, 60);
}
/*  header related style */
 .header{
    background-color: #a1b9e4;
    background-image: url(https://wallpapers-hub.art/wallpaper-images/513993.jpg);
    background-size: cover;

 }  

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* background-color: rgb(0, 0, 0); */
border-radius: 20px;
/* 
background-image: url(https://img.freepik.com/premium-psd/smoke-effect-transparent-background_547794-30.jpg?size=626&ext=jpg&ga=GA1.1.1762319928.1688753308&semt=ais); */
background-image: url(https://c4.wallpaperflare.com/wallpaper/655/216/887/super-mario-paper-mario-video-games-digital-art-wallpaper-preview.jpg);
background-repeat: no-repeat;

background-size: cover;
background-position: center;
box-shadow: 10px 10px 5px rgb(94, 117, 180);

}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(23, 124, 255);
    transition-duration: 0.6s;
    cursor: pointer;

}
/* anchor hover */
a:hover{
    color: rgb(255, 14, 14);
}
.a:hover{
    color: aquamarine;
}
/*  hire me button style */
.btn{
    width: 120px;
    height: 55px;
    border:3px solid black;
    border-radius: 0px 10px ;
    background:#DB1F48;
    font-size: 17px;
    font-weight: bold;
    transition-duration: 0.6s;
    cursor: pointer;
}
/* button hover */
.btn:hover{
    color: aliceblue;
}
/* button style for download and contact */
.btn1{
    width: 120px;
    height: 35px;
    background-color:  #DB1F48;
    font-weight: bold;
    border-radius: 0px 10px ;
    transition-duration: 0.6s;
    cursor: pointer;
    
}
.btn2{
    margin-left: 50px;
}
.btn1:hover{
    color: rgb(255, 255, 255);
}
   

/* banner related style */
.banner{
    padding: 30px  30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner-content{
    max-width: 100%;
}
/* h2 style */
.h2{
    font-size: 30px;
}
/* h1 style */
.h1{
    font-size: 70px;
    font-weight: 2000px;
    margin: 0%;
}
/* paragraph related style */
.para{
    font-size: 18px;
    color: rgb(255, 167, 3);
    padding-bottom: 50px;
}
/* mario image related style */
.mario-image{
    width: 500px;
height: 600px; 
margin-left: 50%;
background-image: url(https://c4.wallpaperflare.com/wallpaper/106/936/905/super-mario-digital-art-pixel-art-video-games-wallpaper-preview.jpg);
border-radius: 25px;

}
/* main related all styles */

    
    

/* section related styles */
.main{
    max-width: 1400px;
    margin: 0px auto;
    margin-top: 100px;

}
.section1{
   
    padding-top: 0;
    padding: 100px;
    border-radius: 20px;
background: #7e9ddb;
background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/da033e72-0c02-4f60-a051-5fbf5205e7e8/d2uolv5-34388794-cda3-4698-a432-327f020d3e49.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RhMDMzZTcyLTBjMDItNGY2MC1hMDUxLTVmYmY1MjA1ZTdlOFwvZDJ1b2x2NS0zNDM4ODc5NC1jZGEzLTQ2OTgtYTQzMi0zMjdmMDIwZDNlNDkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zQTrsdfP575Sa01y1adtCnWmmk0QN-pJvpr4coNLQdI);
background-repeat: no-repeat;
background-size: cover;
position: relative;
height: 550px;


box-shadow: 15px 15px 10px rgb(46, 103, 126);

}
/* paragraph styles*/
.section-para{
    color: var(--dark-03, #ffffff);
    text-align: center;
    font-size: 18px; 
    padding-top: 50px;
    font-size: x-large;
}
/* h1 style */
.section-h1{
    border: 4px solid black;
    border-radius: 5px 0;
    background-color: rgba(110, 84, 84, 0);

    color:  #ffffff;
text-align: center;
font-size: 35px;
font-weight: 700;
/* padding-bottom: 50px; */

}







/* main div styles */
.about-info-container{
    display: flex;
    justify-content: space-around;
}
/* what i do styles */
.another{
    border: 6px solid #ffffff;
    border-radius: 5px 0;
    background-color: #dfcccc60;
    
    color:  #ffffff;
    text-align: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
}
/* inside the div styles */
.about-info{
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
}
/* .inpo-title{
    opacity: 0.5;
} */
/* paragraph id styles */ 
#what-i-do{
    align-items: center;
    
    padding: 100px 150px;
    color: #000000;
   font-size: xx-large;
    text-align: center;
    margin-left: 80px;
   
    
}
/* secttion 2 related styles */
.section2{
background-image: url(https://cdn.dribbble.com/users/1420929/screenshots/6543812/marioanimation.gif);
   /* background-color: #a4bae6a2; */
    background-repeat: no-repeat;
    background-size: cover;
 background-position: center;
 height: 650px;
 width: 100%;
 margin-top: 103px;
 border-radius: 5px;
 box-shadow: 15px 15px 10px rgb(0, 0, 0);
}
/* div boxes related styles */
.boxes{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 100vh;
    height: 700px;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/bf/f0/7f/bff07f008bc1e2f8545a203c178b8f69.gif);
    background-repeat: no-repeat;
    background-size: cover;
 background-position: center;
 margin-top: 130px;
 border-radius: 6px;
 box-shadow: 15px 15px 10px rgb(0, 0, 0);
}

/* div box related styles */
.box{
    color: #000000;
    font-weight: bolder;
   font-family: cursive;
   font-size: large;
    width: 270px;
    height: 377px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    /* background-color: white; */
    backdrop-filter: blur(3px);
    box-shadow: 15px 15px 10px rgb(49, 41, 41);
   margin-left: 20px;
   margin-right: 20px;
}
/* div para style */
.div-para{
    padding-top: 30px;

}
/* images related styles */
/* .section3{
    text-align: center;
} */
.images{
    height: 44px;
    width: 44px;
    border-radius: 30px;
    
}
/* resume related styles */
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}

.resume-colam-title{
    color:  #474747;
    font-size: 30px;
    font-weight: 700;
   
}
/* class-container related styles */
.class-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.resume-colam{
    /* border-right: 1px solid black; */
    margin-right: 10px;
}
/* download cv button styles */
.cv-button{

color: var(--white-color, #FFF);
text-align: center;

font-size: 20px;
margin-top: 50px;
margin-left: 42%;
font-weight: 700;
border-radius: 5px;
background: #FD6E0A;
width: 200px;
height: 50px;


align-items: center;

cursor: pointer;
transition-duration: 0.5s;
}
.cv-button:hover{
    color: #000000;
}
.resume-item-edu{
    opacity: 0.5;
}
/* footer related styles */

.footer{
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 1600px;
    margin-top: 130px;
    
}
.footer-colam{
    text-align: start;

}
.anchor{
    display: inline;
    padding-right: 50px;
}
#name{
    width: 450px;
    height: 60px;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    margin-bottom: 40px;
    margin-top: 50px;
    padding-left: 35px;
}


#email{  padding-left: 35px;
    width: 450px;
    height: 60px;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    margin-bottom: 40px;
}
#text{
    width: 450px;
    height: 150px;
    border-radius: 5px;
    padding-left: 35px;
    margin-bottom: 30px;
   
    
background: var(--white-color, #FFF);
}
::placeholder{
    color: #000000;
    background: var(--white-color, #FFF);}
    .submit{
        border-radius: 5px;
background: #FD6E0A;
width: 150px;
height: 64px;
flex-shrink: 0;
color: var(--white-color, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
 

    }